.btn {
  &.btn-success {
    &:hover {
      background-color: lighten($brand-success, 3%);
      border-color: lighten($brand-success, 3%);
    }
    &.btn-cta:hover {
      border-bottom: 2px solid darken($brand-success, 5%);
    }
  }
}
