<div class="row animated fadeIn">
    <div class="col-xs-12 col-sm-6">
        <div class="card h-100">
            <div class="card-block">
                <div class="col-xs-12 mb-2">
                    <h4 class="card-title mb-0">Coming Soon: The Unseen</h4>
                    <div class="small text-muted">March 2017</div>
                </div>

                <div class="col-xs-12">
                    <p>We will be launching an entirely new website that will continue providing you with the articles and
                        commentary you've come to trust for free, in addition to offering premium, in-depth reporting and
                        analysis via our annual subscription service.</p>
                </div>

                <div class="col-xs-12">
                    <img src="/assets/img/720/value-prop.png" class="img-fluid-full" />
                </div>
            </div>

            <div class="card-footer">
                <a routerLink="/learn-more" class="btn btn-info"><i class="icon-info"></i> Learn More</a>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6">
        <div class="card h-100">
            <div class="card-block">
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/A3wzkuYBMVo?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>

            <div class="card-footer">
                <h4>Michael Lebowitz, CFA</h4>
                <span class="text-muted">Founder / CEO</span>
            </div>
        </div>
    </div>
</div>

<div class="card mt-2 animated fadeIn">
    <div class="card-block">
        <div class="col-xs-12 text-center">
            <img src="/assets/img/720/NewYorkTimes.png" class="img-fluid pl-1" />
            <img src="/assets/img/720/BusinessInsider.png" class="img-fluid pl-1" />
            <img src="/assets/img/720/RealVision.png" class="img-fluid pl-1" />
            <img src="/assets/img/720/RealClearMarkets.png" class="img-fluid pl-1" />
            <img src="/assets/img/720/MarketWatch.png" class="img-fluid pl-1" />
        </div>
    </div>
</div>

<div class="card mt-2 animated fadeIn">
    <div class="card-header">
        Latest Reports
    </div>

    <div class="card-block">
        <div class="col-xs-6 col-md-3 float-left">
            <div class="card">
                <div class="card-block">
                    <img src="/assets/img/720/report-1.png" class="img-fluid pl-1" />
                </div>
                <div class="card-footer text-center">
                    <a routerLink="/reports/1" class="btn btn-info"><i class="icon-paper-clip"></i> View Report</a>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-md-3 float-left">
            <div class="card">
                <div class="card-block">
                    <img src="/assets/img/720/report-1.png" class="img-fluid pl-1" />
                </div>
                <div class="card-footer text-center">
                    <a routerLink="/reports/1" class="btn btn-info"><i class="icon-paper-clip"></i> View Report</a>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-md-3 float-left">
            <div class="card">
                <div class="card-block">
                    <img src="/assets/img/720/report-1.png" class="img-fluid pl-1" />
                </div>
                <div class="card-footer text-center">
                    <a routerLink="/reports/1" class="btn btn-info"><i class="icon-paper-clip"></i> View Report</a>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-md-3 float-left">
            <div class="card">
                <div class="card-block">
                    <img src="/assets/img/720/report-1.png" class="img-fluid pl-1" />
                </div>
                <div class="card-footer text-center">
                    <a routerLink="/reports/1" class="btn btn-info"><i class="icon-paper-clip"></i> View Report</a>
                </div>
            </div>
        </div>
    </div>
</div>
